*{
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(clock_img.png);
    padding:0;
    margin:0;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

#box{
    display: flex;
    justify-content: center;
    margin-top:15%;
}
h1{
    text-align:center;
    font-size: 80px;
    margin-top:100px;
   color:yellow;
}

.time-box {
    justify-content: center;
    border:1px solid yellow;
    width:200px;
    height:200px;
    margin:-10% 2%;
    background-color: white;
    color:black;
    text-align:center;
    font-size: 160px;
    border-radius:10px;
}

.dots{
    justify-content: center;
    margin:-10% 0%;
    color:white;
    text-align:center;
    font-size: 160px;
}

.text{
    display:flex;
    font-size: 25px;
    justify-content: center;
    

}

.text h3{
    width:180px;
    text-align: center;
    margin:4% 4.5%;
    color:white;
    font-weight: 100;
}